.gif{
    font-size: 3px;
    margin-left: 35%;
    margin-right:45%;
   

  animation: slidein  8s infinite alternate;
}

@keyframes slidein {
  from {
      margin-top: 20%;
    margin-left: 40%;
    width: 20%; 
  }

  to {
    margin-left: 300%;
    width: 20%;
  }
  75% {
    font-size: 10%;
    margin-left: 25%;
    width: 30%;
  }
}

header{
   
    background-color:#9dacea;
    text-align: center;
    font-size: 50px;
    height:100px;
    font-family: 'Mansalva', cursive;



}

html body{
    padding: 0;
    margin: 0;
    background-image: url(background2.gif);
    background-size: 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

form{
    position:absolute;
    height:255px;
    right:30px;
    left:25px;
    bottom: 50%;
    border-style: groove;
    border:outset;
    border-color: #c4cbf0;
    border-width: 10px;
    font-size: 60% ;
    border-radius: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.logo{
    width:60px;
    height:60px;
}




